<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
        {{!-- Ability Scores --}}
        <ul class="ability-scores flexrow">
        {{#each data.basicattributes as |ability id|}}
            <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                <input class="ability-score" name="data.abilities.{{id}}.value" type="number" value="{{ability.value}}" placeholder="10"/>
                <div class="ability-modifiers flexrow">
                    <span class="ability-mod" title="{{ localize 'DND5E.Modifier' }}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                    <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.baseProf}}" data-dtype="Number"/>
                    <a class="proficiency-toggle ability-proficiency" title="{{ localize 'DND5E.Proficiency' }}">{{{ability.icon}}}</a>
                    <span class="ability-save" title="{{ localize 'DND5E.SavingThrow' }}">{{numberFormat ability.save decimals=0 sign=true}}</span>
                </div>
                <a class="config-button" data-action="ability" title="{{localize 'DND5E.AbilityConfigure'}}"><i class="fas fa-cog"></i></a>
            </li>
        {{/each}}
        </ul>
    </div>
</form>